@font-face {
    font-family: 'Satoshi';
    src: url('./satoshi/Satoshi-Variable.woff2') format('woff2'),
        url('./satoshi/Satoshi-Variable.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('./satoshi/Satoshi-VariableItalic.woff2') format('woff2'),
        url('./satoshi/Satoshi-VariableItalic.woff') format('woff');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}
